body {
  background-color: #87ac9c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: #857b7f;
  padding: 1.5%;
  background: linear-gradient(-45deg, #F9E7E7, #c2688b, #688d9b, #458677);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#wrapping-image {
  background-image: url(https://i.pinimg.com/736x/f0/18/8a/f0188a4680b2ef1ef813b9602b990798.jpg);
}

#welcome-message {
  text-align: center;
  background: -webkit-linear-gradient(rgb(75, 100, 94), rgb(7, 46, 56));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-style: solid;
  border-color: #857b7f;
  padding: 0.5rem;
  border-radius: 40%;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

div {
  float: left;
  margin-right: 10rem;
}


img {
  width: 150%;
  height: 475px;
  align-self: center;
  position: absolute;
  float: right;
  margin-top: 3rem;
  color: aliceblue;
}

#drawings {
  align-self: center;
  /* position: absolute; */
  float: left;
}

.hidden {
  display: none;
}

#start-button {
  background: -webkit-linear-gradient(rgb(86, 119, 111), rgb(7, 46, 56));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-self: center;
  font-weight: bolder;
  font-size: 150%;
}
   
  #retry-button {
  display: none;
  background: -webkit-linear-gradient(rgb(86, 119, 111), rgb(7, 46, 56));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-self: center;
  font-weight: bolder;
  font-size: 110%;
}

#new-game-button {
  display: none;
  background: -webkit-linear-gradient(rgb(86, 119, 111), rgb(7, 46, 56));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-self: center;
  font-weight: bolder;
  font-size: 110%;
}

#guess {
  text-align: center;
}

#directions {
  text-align: center;
  background: rgba(98, 194, 170, 0.1);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  font-family: Garamond, serif;
  font-size: 1.5rem;
  align-self: center;
}

#countdown {
  align-self: center;
}

#game-description {
  font-size: 1rem;
  align-self: center;
  position: relative;
}

#overlay {
  position: relative;
}






