/* html, body {
  margin-left: 10em;
} */

/* canvas {
  display: block;
} */

#welcome-message {
  text-align: center;
}

div {
  float: left;
  margin-right: 10rem;
}


#blocker {
  position: absolute;
  top: 60px;
  left: 300px;
}

.hidden {
  display: none;
}


